
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#222;
    color: aliceblue;
    font-family: 'Press Start 2P', cursive;
}

.campo-digitacao {
    display: flex;
    margin: 0 auto;
    max-width:50%;
    
    font-size:20px;
    height: 130px;
    border: 4px solid #4834d4;
    
}
.frase {
    font-size: 20px;
    text-align: left;
}

.container {
max-width: 50%;
}

.campo-desativado {
    background-color: rgb(93, 88, 88);
}

.icones {
  vertical-align: middle; 
}

.title {
    text-shadow: 6px 4px #000;

}

textarea {
    box-shadow: 5px 5px #000;
    background-color:rgb(224, 213, 213);
    color: #000;
}

.botoes {
    display: flex;
    justify-content:center;
    margin: 0 auto;
    justify-content:center;
    margin-bottom:40px;
    
}

.botoes a {
    margin-right:20px;

}

#botao-reiniciar {
    margin-top:30px;
}

.campo-correto {
    border: 3px solid lawngreen;

}

.campo-errado {
    border: 3px solid red;
}

.border-box {
    border: 4px solid #000;
}

.campo-digitacao {
    font-size: 20px;
    height: 130px;
}

.frase {
    font-size: 20px;
    text-align: left;
}

.campo-desativado {
    background-color: lightgray;
}

.icones {
    vertical-align: middle;
}

/* CSS da table */

.placar {
padding:40px;
}

.placar h3 {
  padding-bottom: 30px;
}


table {
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: 0 auto;align-items: center;
    max-width:500px;
}

.sub-title {
  text-shadow: 4px 4px #000;
}
